        #navbar ul{

          display: none;
          background-color: white;
          position: absolute;
          top: 100%;
        }
        #navbar li:hover ul { display: block; }
        #navbar, #navbar ul{
          margin: 0;
          padding: 0;
          list-style-type: none;
        }
        #navbar {
          height: 40px;
          background-color: transparent;
          padding-left: 25px;
          min-width: 470px;
        }
        #navbar li {
        font-size: 24px;
        display:inline-block;
          position: relative;
          height: 100%;
        }
        #navbar li a {
          display: block;
          padding: 6px;
          width: 200px;
          color: black;
          border: 1px solid black;
          text-decoration: none;
          text-align: center;
        }
        #navbar a:after{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: #fff8dc;
            transition: all .35s;
          }
        #navbar ul li { float: none; }
        #navbar li:hover { background-color: transparent }
        #navbar ul li:hover { background-color: white; }
        #navbar li a:hover:after{
            width: 100%;
          }

          #navbar li a span{
            position: relative;
            z-index: 2;
          }
          #navbar li a span:hover{
            position: relative;
            z-index: 2;
          }
          .footer {
            background-color: #fff8dc;
             position: fixed;
             right: 0;
             bottom: 0;
             text-align: left; 
             width: 101%;   
             font-size: 19px;
          font-weight: bold;
            color: gray;  
           }

           .circ{
            position: fixed;
             right: 2%;
             bottom: 7%;
           }
           div.card{
            float:left; 
            margin-top: 30px;
            margin-right: 25px;
            margin-left: 25px;
            font-style: 16px;
            font-family: Arial, Helvetica, "sans-serif";
            border: 3px solid gray;
            width: 200px;
            height: 250px;
            border-radius: 3%;
        }
        .nd{
          position: fixed;
          right: 0;
           width: 100%;
          bottom: 100px;
         }

         